In [1]:
#Calculate average official completion time of combined datasets (meu)
#Compare this withe dataset for each sampling technique(x bar)
#which x bar is closed to meu
#What is your conclusion

In [3]:
import pandas as pd
import numpy as np

In [5]:
df_2015 = pd.read_csv("marathon_results_2015.csv")
df_2016 = pd.read_csv("marathon_results_2016.csv")
df_2017 = pd.read_csv("marathon_results_2017.csv")

In [60]:
df = pd.concat([df_2015,df_2016,df_2017])

In [62]:
df

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division,Unnamed: 8
0,0.0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,...,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1,NaN
1,1.0,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,...,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2,NaN
2,2.0,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,...,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3,NaN
3,3.0,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,...,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4,NaN
4,4.0,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,...,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26405,26405.0,25166,"Steinbach, Paula Eyvonne",61,F,Ontario,CA,USA,NaN,MI,...,5:03:08,5:55:18,6:46:57,0:16:24,-,7:09:39,26407,11972,344,NaN
26406,26406.0,25178,"Avelino, Andrew R.",25,M,Fayetteville,NC,USA,NaN,MI,...,4:50:01,5:53:48,6:54:21,0:16:40,-,7:16:59,26408,14436,4774,NaN
26407,26407.0,27086,"Hantel, Johanna",57,F,Malvern,PA,USA,NaN,NaN,...,5:06:37,6:00:33,6:54:38,0:16:47,-,7:19:37,26409,11973,698,NaN
26408,26408.0,25268,"Reilly, Bill",64,M,New York,NY,USA,NaN,MI,...,5:07:09,6:06:07,6:56:08,0:16:49,-,7:20:44,26410,14437,1043,NaN
26409,26409.0,25266,"Rigsby, Scott",48,M,Alpharetta,GA,USA,NaN,MI,...,5:37:13,6:39:07,7:41:23,0:18:15,-,7:58:14,26411,14438,2553,NaN

In [64]:
df[['hour','mins','seconds']] = df['Official Time'].str.split(':', expand = True)

In [66]:
df

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,Pace,Proj Time,Official Time,Overall,Gender,Division,Unnamed: 8,hour,mins,seconds
0,0.0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,...,0:04:56,-,2:09:17,1,1,1,NaN,2,09,17
1,1.0,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,...,0:04:58,-,2:09:48,2,2,2,NaN,2,09,48
2,2.0,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,...,0:04:59,-,2:10:22,3,3,3,NaN,2,10,22
3,3.0,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,...,0:05:00,-,2:10:47,4,4,4,NaN,2,10,47
4,4.0,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,...,0:05:00,-,2:10:49,5,5,5,NaN,2,10,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26405,26405.0,25166,"Steinbach, Paula Eyvonne",61,F,Ontario,CA,USA,NaN,MI,...,0:16:24,-,7:09:39,26407,11972,344,NaN,7,09,39
26406,26406.0,25178,"Avelino, Andrew R.",25,M,Fayetteville,NC,USA,NaN,MI,...,0:16:40,-,7:16:59,26408,14436,4774,NaN,7,16,59
26407,26407.0,27086,"Hantel, Johanna",57,F,Malvern,PA,USA,NaN,NaN,...,0:16:47,-,7:19:37,26409,11973,698,NaN,7,19,37
26408,26408.0,25268,"Reilly, Bill",64,M,New York,NY,USA,NaN,MI,...,0:16:49,-,7:20:44,26410,14437,1043,NaN,7,20,44
26409,26409.0,25266,"Rigsby, Scott",48,M,Alpharetta,GA,USA,NaN,MI,...,0:18:15,-,7:58:14,26411,14438,2553,NaN,7,58,14

In [68]:
df['hour'] = pd.to_numeric(df['hour'])
df['mins'] = pd.to_numeric(df['mins'])
df['seconds'] = pd.to_numeric(df['seconds'])

In [74]:
df['Total_time'] = df['hour']*3600 + df['mins']*60 + df['seconds']
df

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,Proj Time,Official Time,Overall,Gender,Division,Unnamed: 8,hour,mins,seconds,Total_time
0,0.0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,...,-,2:09:17,1,1,1,NaN,2,9,17,7757
1,1.0,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,...,-,2:09:48,2,2,2,NaN,2,9,48,7788
2,2.0,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,...,-,2:10:22,3,3,3,NaN,2,10,22,7822
3,3.0,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,...,-,2:10:47,4,4,4,NaN,2,10,47,7847
4,4.0,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,...,-,2:10:49,5,5,5,NaN,2,10,49,7849
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26405,26405.0,25166,"Steinbach, Paula Eyvonne",61,F,Ontario,CA,USA,NaN,MI,...,-,7:09:39,26407,11972,344,NaN,7,9,39,25779
26406,26406.0,25178,"Avelino, Andrew R.",25,M,Fayetteville,NC,USA,NaN,MI,...,-,7:16:59,26408,14436,4774,NaN,7,16,59,26219
26407,26407.0,27086,"Hantel, Johanna",57,F,Malvern,PA,USA,NaN,NaN,...,-,7:19:37,26409,11973,698,NaN,7,19,37,26377
26408,26408.0,25268,"Reilly, Bill",64,M,New York,NY,USA,NaN,MI,...,-,7:20:44,26410,14437,1043,NaN,7,20,44,26444
26409,26409.0,25266,"Rigsby, Scott",48,M,Alpharetta,GA,USA,NaN,MI,...,-,7:58:14,26411,14438,2553,NaN,7,58,14,28694

In [85]:
mean= df['Total_time'].mean()

In [89]:
print(f"Official Completion time is {mean}")

Official Completion time is 13989.929166980588

In [ ]:
simple = 13955.71320944249 ###34

In [ ]:
systematic = 13891.37385105984 ## 98

In [ ]:
Stratified = 14009.489137259827 ###20

In [ ]:
cluster = 13891.37385105984 ##98